@use "sass:map";
@use "sass:list";

$semantic-colors: ("primary", "secondary", "success", "warning", "danger");
$semantic-color-status: ("default", "active", "hover", "disabled");

$color-map: (
    "red": (
        #ffece8,
        #fdcdc5,
        #fbaca3,
        #f98981,
        #f76560,
        #f53f3f,
        #cb272d,
        #a1151e,
        #770813,
        #4d000a,
    ),
    "orange": (
        #fff7e8,
        #ffe4ba,
        #ffcf8b,
        #ffb65d,
        #ff9a2e,
        #ff7d00,
        #d25f00,
        #a64500,
        #792e00,
        #4d1b00,
    ),
    "yellow": (
        #feffe8,
        #fefebe,
        #fdfa94,
        #fcf26b,
        #fbe842,
        #fadc19,
        #cfaf0f,
        #a38408,
        #785d03,
        #4d3800,
    ),
    "green": (
        #e8ffea,
        #aff0b5,
        #7be188,
        #4cd263,
        #23c343,
        #00b42a,
        #009a29,
        #008026,
        #006622,
        #004d1c,
    ),
    "cyan": (
        #e8fffb,
        #b7f4ec,
        #89e9e0,
        #5edfd6,
        #37d4cf,
        #14c9c9,
        #0da5aa,
        #07828b,
        #03616c,
        #00424d,
    ),
    "blue": (
        #e8f7ff,
        #c3e7fe,
        #9fd4fd,
        #7bc0fc,
        #57a9fb,
        #3491fa,
        #206ccf,
        #114ba3,
        #063078,
        #001a4d,
    ),
    "purple": (
        #f5e8ff,
        #ddbef6,
        #c396ed,
        #a871e3,
        #8d4eda,
        #722ed1,
        #551db0,
        #3c108f,
        #27066e,
        #16004d,
    ),
    "pink": (
        #ffe8f1,
        #fdc2db,
        #fb9dc7,
        #f979b7,
        #f754a8,
        #f5319d,
        #cb1e83,
        #a11069,
        #77064f,
        #4d0034,
    ),
    "gray": (
        #f7f8fa,
        #f2f3f5,
        #e5e6eb,
        #c9cdd4,
        #a9aeb8,
        #86909c,
        #6b7785,
        #4e5969,
        #272e3b,
        #1d2129,
    ),
);
